@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
	--font-sans: "Montserrat", sans-serif;
	--color-bruckwald-50: #f1fcf8;
	--color-bruckwald-100: #d0f7ec;
	--color-bruckwald-200: #a2edda;
	--color-bruckwald-300: #6bddc4;
	--color-bruckwald-400: #3dc4aa;
	--color-bruckwald-500: #23a991;
	--color-bruckwald-600: #1a8777;
	--color-bruckwald-700: #196c61;
	--color-bruckwald-800: #18564e;
	--color-bruckwald-900: #194842;
	--color-bruckwald-950: #082b28;
	--color-bruckwald: var(--color-bruckwald-800);
	--color-sozialwerk-50: #f3f7fc;
	--color-sozialwerk-100: #e7eef7;
	--color-sozialwerk-200: #c9dbee;
	--color-sozialwerk-300: #9abedf;
	--color-sozialwerk-400: #639bcd;
	--color-sozialwerk-500: #4080b9;
	--color-sozialwerk-600: #2f659a;
	--color-sozialwerk-700: #27517d;
	--color-sozialwerk-800: #234569;
	--color-sozialwerk-900: #223b58;
	--color-sozialwerk-950: #17263a;
	--color-sozialwerk: var(--color-sozialwerk-500);
	--color-tobias-50: #fcf5f4;
	--color-tobias-100: #fae9e9;
	--color-tobias-200: #f4d7d7;
	--color-tobias-300: #ecb5b7;
	--color-tobias-400: #e08c90;
	--color-tobias-500: #d0636a;
	--color-tobias-600: #bb4352;
	--color-tobias-700: #a33646;
	--color-tobias-800: #832e3d;
	--color-tobias-900: #712a39;
	--color-tobias-950: #3e131b;
	--color-tobias: var(--color-tobias-700);
}

@utility prose-invert {
	--tw-prose-counters: var(--color-gray-300);
	--tw-prose-bullets: var(--color-gray-300);
}

/* montserrat-regular - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 400;
	src: url("./assets/fonts/montserrat-v31-latin-regular.woff2")
		format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-500 - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 500;
	src: url("./assets/fonts/montserrat-v31-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-600 - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 600;
	src: url("./assets/fonts/montserrat-v31-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-800 - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 800;
	src: url("./assets/fonts/montserrat-v31-latin-800.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
